
body {
  background-color: #fff9e5;

  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;

}

p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  
}

img {
  width: 10em;
}

button {
  background-color: #fff9e5;
  border-width: 0.05em;
}



.leftAlign {
  text-align: left;
}

.smallText {
  font-size: 1em;
}

.dottedUnderline {
  color: black;
  text-decoration: none;
  border-bottom: 0.125em dotted black;
  display: inline;

}

#games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-right: 25%;
  margin-bottom: auto;
  margin-left: 25%;
  padding: auto;
  width: 50%;
}

#games > div {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#games > div > a > img {
  transition-property: transform;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

#games > div > a > img:hover {
  transform: rotate(5deg) scale(1.1);
}

.nameStuff {
  margin-top: 1em;
  font-weight: 1;
  display: flex;
  align-items: end;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

#nameInput {
  background-color: #fffcf1;
  border-style: solid;
  border-width: 0.1em;
}

#quiz {
  display: flex;
  flex-direction: column;
}

#quiz > div {
  margin-left: 5%;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.quizEmoji {
  display: none;
}




.bubblyFont {
  font-family: "Sour Gummy", "Times";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.serifFont {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.serifFont.slightThick {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.serifFont.thick {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}