
body {
    background-color: rgb(255, 244, 210);

  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 3em;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
  
}

img {
  width: 6.5em;
}

.bubblyFont {
  font-family: "Sour Gummy", "Times";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.serifFont {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}