
body {
  background-color: rgb(255, 249, 229);

  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;

}

p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  
}

img {
  width: 10em;
}

.dottedUnderline {
  color: black;
  text-decoration: none;
  border-bottom: 0.125em dotted black;
  display: inline;

}

#games {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: auto;
}

#games > div {
  margin: auto;
}

#tracker_button {
  display: flex;
  flex-direction: column;
  text-align: center;

}

.bubblyFont {
  font-family: "Sour Gummy", "Times";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.serifFont {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.serifFont.thick {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}